<?xml version="1.0"?>
<config>
    <modules>
        <VisualFrames_FeaturedProducts>
            <version>0.1.0</version>
        </VisualFrames_FeaturedProducts>
    </modules>
    <global>
        <models>
            <featuredproducts>
                <class>VisualFrames_FeaturedProducts_Model</class>
            </featuredproducts>
        </models>
        <resources>
            <featuredproducts_setup>
                <setup>
                    <module>VisualFrames_FeaturedProducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproducts_setup>
            <featuredproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproducts_write>
            <featuredproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproducts_read>
        </resources>
        <blocks>
            <featuredproducts>
                <class>VisualFrames_FeaturedProducts_Block</class>
            </featuredproducts>
			<catalog>
			   <rewrite>
					<product_featured>VisualFrames_FeaturedProducts_Block_Product_Featured</product_featured>
			   </rewrite>
			</catalog>
        </blocks>
        <helpers>
            <featuredproducts>
                <class>VisualFrames_FeaturedProducts_Helper</class>
            </featuredproducts>
        </helpers>
    </global>
</config>