<?xml version="1.0"?>
<config>
    <modules>
        <VisualFrames_NewProducts>
            <version>0.1.0</version>
        </VisualFrames_NewProducts>
    </modules>
    <global>
        <models>
            <newproducts>
                <class>VisualFrames_NewProducts_Model</class>
            </newproducts>
        </models>
        <resources>
            <newproducts_setup>
                <setup>
                    <module>VisualFrames_NewProducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproducts_setup>
            <newproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproducts_write>
            <newproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproducts_read>
        </resources>
        <blocks>
            <newproducts>
                <class>VisualFrames_NewProducts_Block</class>
            </newproducts>
			<catalog>
			   <rewrite>
					<product_new>VisualFrames_NewProducts_Block_Product_New</product_new>
			   </rewrite>
			</catalog>
        </blocks>
        <helpers>
            <newproducts>
                <class>VisualFrames_NewProducts_Helper</class>
            </newproducts>
        </helpers>
    </global>
</config>